:root{
    --bg:#1d1e22;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: var(--bg);
}
.container{
    padding: 0;
    width: 100vw;
    height: 400px;
    background-color: gray;
    max-width: 600px;
    display: grid;
    grid-template: repeat(3 , 1fr) / repeat(3 , 1fr);
    grid-gap: 5px;
}
body.over .container{
    cursor: no-drop;
}
body.over .container .item{
    pointer-events: none;
}
.item{
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: var(--bg);
}
.playerTitle{
    font-size: 50px;
    margin-bottom: 100px;
    color: white;
}
.playerX{
    background:url("img/x.png") no-repeat center / 40% ;
    background-color: var(--bg);
}
.computer{
    background:url("img/o.png") no-repeat center / 40% ;
    background-color: var(--bg);
}
.rematch{
    cursor: pointer;
    padding: 20px 50px;
    display: inline-block;
    background-color: black;
    color: white;
    text-decoration: none;
    font-size: 24px;
    margin-bottom: 30px;
    opacity: 0;
    display: none;
}
body.over .rematch{
    opacity: 1;
    display: inline-block;
}
a{
    color: white;
}
a:hover{
    color: rebeccapurple;
    text-decoration: none;
}